<!DOCTYPE html> <!--- what kind or type of doc--->
<html>
<!--inside the html tag we basically put 2 tags which is head and body-->
    <head>
        <!--head is some other info like title or styling declareation or css or any external 
            javascript lib for interactivity-->
            <title>Jovian Carriers</title>
    </head>
    <body> 
    <!--body is what you want to actually show on the page/web page-->
    Hello there, you'll learn about the job openings at Jovian here.
    </body>
<!--- this tag of html / sign at last of html tag as we menas its end/closing of tag--->
</html>
